:root {
    --color-fondo: #e5ffe3;
    --color-fondo-chat: #fff;
    --color-mensaje-usuario: #e5fddb;
    --color-mensaje-bot: #dbf2ff;
    --color-boton-enviar: #1aa521;
    --color-boton-enviar-hover: #0d6b12;
}


html, body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    width: 100%;
    height: 100%;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    width: 100%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h1 {
    width: 100%;
    height: fit-content;
    text-align: center;
    margin: 0;
    padding: 0;
}

#chat-container {
    width: 80%;
    height: calc(100% - 40px - 30px - 40px - 30px); /* 40px title, 30px margin title, 40px chat padding, 30px chat margin bottom */
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--color-fondo-chat);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    flex: 1;
}

#chat-messages {
    /* height: 80%;
    overflow-y: auto;
    padding-bottom: 10px; */

    flex: 1;
    overflow-y: auto;
    padding-bottom: 10px;
}

.message {
    clear: both;
    margin-bottom: 10px;
}

.user-message {
    float: right;
    background-color: var(--color-mensaje-usuario);
    border-radius: 10px 10px 0 10px;
    padding: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.user-message p{
    /* width: calc(100% - 20px); */
    width: 100%;
    margin: 0;
}

.bot-message {
    float: left;
    background-color: var(--color-mensaje-bot);
    border-radius: 10px 10px 10px 0;
    padding: 10px;
    max-width: 70%;
}

#input-container {
    /* display: flex;
    align-items: center;
    margin-top: 10px; */

    display: flex;
    align-items: flex-end;
    margin-top: 10px;

}


#question {
    /*width: calc(100% - 80px - 20px); /* 80px button width, 20px margin between input and button */
    /* padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 0; */

    flex: 1;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px; /* Obligatorio poner un valor para que se amplie el alto del textarea */
    resize: none; /* Disable textarea resizing by user */
    padding-bottom: 0px;
}

/* button {
    width: 80px;
    padding: 10px;
    background-color: #1aa521;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

button:hover {
    background-color: #0d6b12;
} */

#send-question {
    width: 80px;
    height: 40px;
    padding: 10px;
    background-color: var(--color-boton-enviar);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#send-question:hover {
    background-color: var(--color-boton-enviar-hover);
}

#send-question svg {
    fill: #fff;
    width: 20px;
    height: auto;
    margin-right: 5px;
}
